$font-family: "Quicksand", sans-serif;

$text-color: #253D4E;
$green-color: #3BB77E;
$light-green-color: #BCE3C9;
$gray-color: #7E7E7E;
$light-gray-color: #cdcbcb;
$hot-color: #F74B81;
$sale-color: #67BCEE;
$discount-color: #F59758;
$color: red